*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  background-color:black;
  color:white;
  font-family: 'Istok Web', sans-serif;
}


.App {
  text-align: center;
}

.App > section {
  margin-top:120px;
}
