header {
  display:flex;
  justify-content: space-between;
  align-items:center;
  height:80px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index:2;
  border-bottom:1px solid gray
}

.logo {
  height:45px
}

.header__logo {
  font-size: 35px;
  min-width: 250px;
  letter-spacing: 1px;
  display:flex;

}

.red {
  color:red;
  letter-spacing:-3px;
}

.header__nav {
  width:80%;
  display:flex;
}

.NavLink{
  text-decoration: none;
  width:250px;
  font-size:20px;
  line-height: 45px;
}

.selectedLink {
  text-transform: uppercase;
}

.NavLink:hover {
  animation-name: btn-micro;
  animation-duration:0.5s;
}

.user-avatar{
  height:25px;
  margin-right:9px;
  background-color: rgba(255,255,255,0);
}

.header__user-menu{
  margin-top:10px;
  width:250px;
  margin-right:15px
}

.inner {
  display:flex;
  justify-content: flex-end;
 
  background: red;
  color:white;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  clip-path: circle(10% at 85% 50%);
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.inner:hover {
  clip-path: circle(75%);
  background: black;
}

.inner h1 {
  color: white;
  margin: 0;
}

.inner p {
  color: white;
  font-size: .8rem;
}


.inner:hover span {
  color: rgba(255,255,255,0)
}

.header__user-name{
  background-color:transparent;
  margin-right:30px;

}


@keyframes btn-micro {
  0% { transform: rotate(0deg)}
  25%{ transform: rotate(5deg) }
  50%{ transform: rotate(0deg) }
  75%{ transform: rotate(-5deg) }
  100%{transform: rotate(0deg)}

}